.event {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin: var(--margin-medium) auto;
}

.event:hover {
  transform: scale(1.02);
}

.event__head {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--margin-medium);
}

.event__info {
  margin-right: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.event__info p:not(:first-child) {
  font-size: var(--font-size-smaller);
}

.event__created {
  padding-top: var(--padding-small);
  border-top: 0.1rem solid var(--secondary);
  font-size: var(--font-size-smaller);
}

.event__participants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .8rem;
}

.event__join {
  padding: var(--padding-small) var(--padding-big);

  border-radius: var(--border-radius-medium);
  background-color: var(--secondary-light);
  font-weight: bold;
}

.event__join:hover {
  background-color: var(--secondary);
}

.participants {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.participants span {
  font-size: var(--font-size-smaller);
}

.event__icon {
  min-width: 2rem;
  width: 2rem;
  display: inline-block;
  margin-right: var(--margin-medium);
}

.event__summary {
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .event {
    width: 75%;
  }
  .event__head {
    flex-direction: column;
  }
  .event__participants {
    margin-top: var(--margin-medium);
  }
}

@media only screen and (max-width: 700px) {
  .event {
    width: 100%;
  }
}
