.no-events {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

.no-events img {
  width: 10%;
  margin-top: var(--margin-medium);
  transition: var(--transition-short);
}

.no-events span {
  display: inline-block;
  padding: var(--padding-medium) var(--padding-big);
  border-radius: var(--border-radius-medium);
  background-color: var(--secondary-light);
}

.event-list__load {
  margin: 0 auto;
  padding: var(--padding-medium);
  border-radius: var(--border-radius-medium);
  background-color: var(--secondary-light);
}

.event-list__load:hover {
  background-color: var(--secondary);
}

.new-event__link {
  text-align: center;
}

.new-event__link a {
  display: inline-block;
  padding: var(--padding-medium) var(--padding-big);
  margin: var(--margin-medium) auto 0 auto;

  color: var(--white);
  font-size: var(--font-size-normal);

  transition: var(--transition-short);
  border-radius: var(--border-radius-medium);
  background-color: var(--primary-dark);
}

.new-event__link a:hover {
  background-color: var(--primary-light);
}

@media only screen and (max-width: 1024px) {
  .no-events img {
    width: 25%;
  }
}

@media only screen and (max-width: 720px) {
  .no-events img {
    width: 40%;
  }
}
