.event__participants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.event__join {
  padding: var(--padding-small) var(--padding-big);

  border-radius: var(--border-radius-medium);
  background-color: var(--secondary-light);
  font-weight: bold;
}

.event__join:hover {
  background-color: var(--primary);
}

.event__join--active {
  background-color: var(--primary-light);
}

.event__join--active:hover {
  background-color: var(--secondary);
}

.participants {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.participants span {
  font-size: var(--font-size-smaller);
}
