:root {
  /* Color definition */
  --danger: #dc3545;
  --danger-light: #f8d7da;
  --success: #198754;
  --success-light: #d1e7dd;
  --warning: #ffc107;
  --warning-light: #fff3cd;

  --primary-lightest: #e8e9d5;
  --primary-light: #b2b48c;
  --primary: #7e805d;
  --primary-dark: #52533d;

  --secondary-light: rgb(230, 187, 114);
  --secondary: #daa03dff;

  --black: #000;
  --white: #fff;
  --light: #f8f9fa;
  --dark: #212529;

  --gray: #adb5bd;

  /* transtions */
  --transition-short: all 0.2s ease;
  --transition-long: all 0.5s ease;

  --margin-small: 0.3rem;
  --margin-medium: 0.5rem;
  --margin-big: 1rem;
  --padding-small: 0.3rem;
  --padding-medium: 0.5rem;
  --padding-big: 1rem;

  /* fonts */
  --font-size-smaller: 0.8rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-big: 1.5rem;

  --border-radius-small: 0.2rem;
  --border-radius-medium: 0.5rem;
  --border-radius-big: 1rem;
}
